*{
    margin: 0;
    padding: 0;
}
.basket-modal{
    width: 350px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding-top: 2px;
    margin: auto;
}
.basket-modal>div:nth-child(1){
    padding-left: 10px;
}
.basket-modal>div:nth-child(2){
    text-align: center;
    padding-left: 10px;
}
.basket-btn {
    display: flex;
    justify-content:space-around;
}
.basket-btn div:nth-child(1) button{
   width: 155px;
   height: 30px;
   border-radius:15px;
   background-color:black;
   color:white;
}
.basket-btn div:nth-child(2) button{
    width: 155px;
    height: 30px;
    border-radius:15px;
    background-color:white;
    color:black;
}
hr{
    opacity: 0.2;
}
.basket-modal>div:nth-child(1){

    margin-bottom: 10px;
    padding: 10px;
 }
 .basket-modal>div:nth-child(3){

     padding:10px;
     margin-bottom: 20px;
 }
 .basket-modal>div:nth-child(3) p{
     margin-bottom:20px;
 }
 .basket-modal>div:nth-child(5){
     padding: 10px;
 }
 .basket-modal>div:nth-child(7){
     padding: 10px;
 }
 .basket-flex{
     display: flex;
     gap: 20px;
     align-items: center;
     margin-bottom: 10px;
 }
 .basket-flex img{
     width: 30px;
     height: 30px;
 }